{% extends "layout.html" %}

{% block title %}Muokkaa lippua{% endblock %}

{% block content %}

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

  <form action="/update/{{ ticket.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Artisti: <br />
      <input type="text" name="artist" value="{{ ticket.artist }}" required />
    </p>
    <p>
      Paikka: <br />
      <input type="text" name="venue" value="{{ ticket.venue }}" required />
    </p>
    <p>
      Päivämäärä: <br />
      <input type="date" name="event_date" value="{{ ticket.event_date }}" required id="event_date" />
    </p>
    <p>
      Hinta (€): <br />
      <input type="number" name="price" value="{{ ticket.price }}" step="0.01" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="3" cols="40">{{ ticket.description if ticket.description }}</textarea>
    </p>
      Kategoria: <br />
      <select name="category_id">
        {% for category in categories %}
        <option value="{{ category[0] }}" {% if category[0] == ticket.category_id %}selected{% endif %}>
          {{ category[1] }}
        </option>
        {% endfor %}
      </select>
    <p>
      <input type="submit" value="Päivitä lippu" />
    </p>
      
  </form>
  
  <p><a href="/">Takaisin etusivulle</a></p>
  
{% endblock %}
