<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  <nav>
    <a href="/">Etusivu</a> | 
    {% if session.username %}
        <a href="/new">Lisää lippu</a> | 
        Kirjautuneena: {{ session.username }} | 
        <a href="/logout">Kirjaudu ulos</a>
    {% else %}
        <a href="/login">Kirjaudu</a> | 
        <a href="/register">Rekisteröidy</a>
    {% endif %}
  </nav>
  <hr>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>

</html>
