{% extends "layout.html" %}

{% block title %}Lisää uusi lippu{% endblock %}

{% block content %}

  <h1>Lisää uusi konserttilipu</h1>

  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  
  <form action="/send" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Artisti: <br />
      <input type="text" name="artist" required />
    </p>
    <p>
      Paikka: <br />
      <input type="text" name="venue" required />
    </p>
    <p>
      Päivämäärä: <br />
      <input type="date" name="event_date" required id="event_date" />
    </p>
    <p>
      Hinta (€): <br />
      <input type="number" name="price" step="0.01" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="3" cols="40"></textarea>
    </p>
      Kategoria: <br />
      <select name="category_id">
        {% for category in categories %}
        <option value="{{ category[0] }}">{{ category[1] }}</option>
        {% endfor %}
      </select>
    </p>

    <p>
      <input type="submit" value="Lisää lippu" />
    </p>
  </form>

{% endblock %}