{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}

  <h1>Käyttäjä {{ user.username }}</h1>

  <h2>Tilastoja</h2>
  <p>Lippuja myynnissä: {{ tickets | count }}</p>
  {% if tickets %}
  <p>Vanhin ilmoitus lisätty: {{ tickets[-1].created_at }}</p>
  <p>Viimeisin ilmoitus lisätty: {{ tickets[0].created_at }}</p>
  {% endif %}

  <h2>Myytävät liput</h2>
  {% if tickets %}
    {% for ticket in tickets %}
    <div>
      <h3>{{ ticket.artist }} - {{ ticket.venue }}</h3>
      <p><strong>Päivämäärä:</strong> {{ ticket.event_date }}</p>
      <p><strong>Hinta:</strong> {{ ticket.price }} €</p>
      {% if ticket.description %}
      <p><strong>Kuvaus:</strong> {{ ticket.description }}</p>
      {% endif %}
      <a href="/ticket/{{ ticket.id }}">Näytä ilmoitus</a>
    </div>
    <hr />
    {% endfor %}
  {% else %}
    <p>Ei myytäviä lippuja.</p>
  {% endif %}

{% endblock %}